<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iiieyevms.com.a360degreeinfodynamics.iiieyevms">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
    <application
        android:allowBackup="true"
        android:name=".util.AppController"
        android:icon="@drawable/vms_final_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SocietyCheckActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PreInformeVisitorActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".Registered_Worker"
            android:label="@string/register"
            android:theme="@style/AppTheme"></activity>
        <activity android:name=".Registered_Worker_Details"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>